* {
  font-size: 16px;
  line-height: 24px;
  font-family: "Press Start 2P", cursive;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main {
  display: flex;
  background-color: #bebebe;
  padding: 20px;
}

.board {
  border: 2px solid #3a3a3a;
  margin-right: 20px;
}

.panel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

button.start-button {
  padding: 10px;
  background-color: greenyellow;
  border-radius: 5px;
  border: unset;
}

.hotkey {
  text-align: left;
  border-collapse: collapse;
}
.hotkey td,
.hotkey th {
  border: 1px solid #000000;
  padding: .75rem;
}

.hotkey td:first-child {
  text-align: center;
}
