* {
  font-size: 16px;
  line-height: 24px;
  font-family: "Press Start 2P", cursive;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main {
  display: flex;
  background-color: #bebebe;
  padding: 20px;
}

.board {
  border: 2px solid #3a3a3a;
  margin-right: 20px;
}

.panel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

button.start-button {
  padding: 10px;
  background-color: greenyellow;
  border-radius: 5px;
  border: unset;
}

@media screen and (max-width: 800px) {
  .hotkey {
    text-align: left;
    border-collapse: collapse;
    width: 300px;
  }
}

.hotkey {
  text-align: left;
  border-collapse: collapse;
}
.hotkey td,
.hotkey th {
  border: 1px solid #000000;
  padding: 0.75rem;
}

.hotkey td:first-child {
  display: flex;
  justify-content: center;
}

.hotkey td:first-child > button {
  font-family: unset;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: unset;
  background-color: green;
  color: #000;
}

.hotkey td:first-child > button > svg {
  margin-top: 15px;
}
